.menuContainer{
    width: 98vw;
    height: max-content;
}

.menuContent{
    width: 144vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10vh auto 0vh;
    flex-direction: column;
}

.foodContainer{
    width: 70vh;
    height: 25vh;
    display: flex;
    margin: 3vh auto;
    border-radius: 1.6vh;
    background: #495E57;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: #EDEFEE;
}

.foodContainer img{
    width: 30vh;
    height: 25vh;
    object-fit: cover;
    border-radius: 1.6vh;
}

.foodText{
    margin-left: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 25vh;
}

.foodText h3{
    font-size: 1.75rem;
    font-family: 'Markazi Text';
    color: #F4CE14;
}

.foodText p{
    font-family: 'Karla';
    font-size: 0.83rem;
}

.menuBtn{
    display: flex;
    width: 10vh;
    height: 3.3vh;
    align-items: center;
    border-radius: 1.6vh;
    justify-content: center;
    border: none;
    background: #F4CE14;
    color: #333333;
}

.menuContent h3:last-child{
    margin: 4vh auto;
}